html, body {
    height: 100%;
}

.subnav.navbar-right {
    margin-right: 15px;
}
span.pficon-enterprise.fa-2x {
    padding-top: 5px;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
.work-plan {
    position: relative;
    top: 15px;
    left: 0;
    height: 100%;
}
small {
    font-size: $font-small;
}
.side-panel {
    height: 100%;
    .list-group {
        border: 0;
    }
    .list-group-item {
        border: 0;
        font-size: 2em;
        &:not(:first-child) {
            border-top: 1px solid #333333;
        }
    }
}
.backlog-list {
    margin-bottom: 0;
}
div.dropdown.custom-kebab.dropdown-kebab-pf.open {
    ul.dropdown-menu {
        left: -125px;
        &::before, &::after {
            left: 115px;
        }
    }
}
.user-icon {
    margin-right: 15px;
}
.footer-bottom {
    position: relative;
    bottom: 0;
    height: 50px;
    background-color: #d7d7d7;
}