html, body {
    height: 100%;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
.project-settings-icon {
    margin-left: 20px;
}
small {
    font-size: $font-small;
}
.large {
    font-size: $font-large;
}
.xlarge {
    font-size: $font-xlarge;
}
.user-icon {
    margin-right: 15px;
}