#includeIterations {
    /*position: fixed;
    left: 0;
    top: 200px;*/
    padding-left: 0;
    padding-right: 0;
}
#includePlanView {
    float: right;
    overflow: scroll;
}
.work-plan {
    position: relative;
    top: 15px;
    left: 0;
    height: 100%;
}
.backlog-list {
    margin-bottom: 0;
}
div.dropdown.custom-kebab.dropdown-kebab-pf.open {
    ul.dropdown-menu {
        left: -125px;
        &::before, &::after {
            left: 115px;
        }
    }
}
.plan-picker {
    background-color: #f7f7f7;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
}
.panel-group {
    .panel {
        border-bottom: 1px solid #dddddd !important;
    }
    .panel-default {
        border: none;
    }
    .panel-heading {
        background-image: none;
        border-bottom: 1px solid #dddddd;
    }
}
.plan-active {
    &:before {
        content: "\f140";
        font-family: FontAwesome;
    }
}
.ug-menuButtonDesk {
    min-width: 100px;
}
.trigger--menu {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    -webkit-transition: all 180ms ease;
    -moz-transition: all 180ms ease;
    -o-transition: all 180ms ease;
    -ms-transition: all 180ms ease;
    transition: all 180ms ease;
    /*padding: 10px;*/
    will-change: transform;
    /*left: 0;*/
    color: $pf-blue;
    &:hover {
        text-decoration: underline;
    }
}
.ug-headerContainer {
    position: fixed;
    background-color: #030303;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px #d7d7d7;
    /*width: 100px;*/
    //display: none;
    height: 100%;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    transition: all 200ms ease;
    cursor: pointer;
    -webkit-transform: translateX(-60px);
    -moz-transform:    translateX(-60px);
    -ms-transform:     translateX(-60px);
    -o-transform:      translateX(-60px);
    transform:         translateX(-60px);
    will-change: transform;
    left: -75px;
    top: 130px;
    z-index: 20;
}
.active--menu {
    .ug-headerContainer {
        //display: block;
        width: 400px;
        left: 0;
        -webkit-transform: translateX(0);
        -moz-transform:    translateX(0);
        -ms-transform:     translateX(0);
        -o-transform:      translateX(0);
        transform:         translateX(0);
    }
}
.button-translate {
//   -webkit-transform: translateX(65px);
//   -moz-transform:    translateX(65px);
//   -ms-transform:     translateX(65px);
//   -o-transform:      translateX(65px);
//   transform:         translateX(65px);
}
.trigger--menu:active, .trigger--menu:focus {
    outline: none;
    border: none;
}
.ug-menuTrigger-img {

}
.ug-headerItem {
    padding: 20px;
    font-size: $font-large;
    will-change: transform;
    &:hover {
        background: #e36121;
        -webkit-transition: all 400ms ease;
        -moz-transition: all 400ms ease;
        -o-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
        transition: all 400ms ease;
    }
    .back-button {
        font-size: $font-medium;
    }
}
.ug-headerItem-img {

}
