#includeIterations {
    padding-left: 0;
    padding-right: 0;
}
#includePlanView {
    float: right;
    overflow: scroll;
}
.work-plan {
    position: relative;
    top: 15px;
    left: 0;
    height: 100%;
}
.backlog-list {
    margin-bottom: 0;
}
div.dropdown.custom-kebab.dropdown-kebab-pf.open {
    ul.dropdown-menu {
        left: -125px;
        &::before, &::after {
            left: 115px;
        }
    }
}
@media (min-width: 768px) {
    .list-view-pf-body {
        display: inline-flex;
    }
}

.plan-picker {
    background-color: $color-pf-black-150;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    .panel-heading {
        .panel-title {
            min-height: 50px;
            line-height: 4;
            .status-number {
                list-style: none;
                line-height: 2;
                text-align: center;
            }
        }
    }
}
.panel-group {
    .panel {
        border-bottom: 1px solid $color-pf-black-300 !important;
    }
    .panel-default {
        border: none;
    }
    .panel-heading {
        background-image: none;
        border-bottom: 1px solid $color-pf-black-300;
    }
}
.plan-active {
    &:before {
        content: "\f140";
        font-family: FontAwesome;
    }
}
.ug-menuButtonDesk {
    min-width: 100px;
}
.trigger--menu {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    -webkit-transition: all 180ms ease;
    -moz-transition: all 180ms ease;
    -o-transition: all 180ms ease;
    -ms-transition: all 180ms ease;
    transition: all 180ms ease;
    padding: 9px 28px !important;
    will-change: transform;
    color: $color-pf-blue;
    &:hover {
        text-decoration: underline;
    }
}
.ug-headerContainer {
    position: fixed;
    background-color: $color-pf-black-900;
    background-color: $color-pf-white;
    box-shadow: 0px 2px 5px $color-pf-black-300;
    height: 100%;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    transition: all 200ms ease;
    cursor: pointer;
    -webkit-transform: translateX(-60px);
    -moz-transform:    translateX(-60px);
    -ms-transform:     translateX(-60px);
    -o-transform:      translateX(-60px);
    transform:         translateX(-60px);
    will-change: transform;
    left: -75px;
    top: 131px;
    z-index: 20;
}
.active--menu {
    .ug-headerContainer {
        width: 400px;
        left: 0;
        -webkit-transform: translateX(0);
        -moz-transform:    translateX(0);
        -ms-transform:     translateX(0);
        -o-transform:      translateX(0);
        transform:         translateX(0);
    }
}
.button-translate {
//   -webkit-transform: translateX(65px);
//   -moz-transform:    translateX(65px);
//   -ms-transform:     translateX(65px);
//   -o-transform:      translateX(65px);
//   transform:         translateX(65px);
}
.trigger--menu:active, .trigger--menu:focus {
    outline: none;
    border: none;
}
.ug-menuTrigger-img {

}
.ug-headerItem {
    padding: 20px;
    font-size: $font-large;
    will-change: transform;
    &:hover {
        background: $color-pf-light-blue-400;
        -webkit-transition: all 400ms ease;
        -moz-transition: all 400ms ease;
        -o-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
        transition: all 400ms ease;
        color: $color-pf-white;
    }
    .back-button {
        font-size: $font-medium;
    }
}
.ug-headerItem-img {

}
