/* Colors */
$white: #ffffff;
$pf-black: #1d1d1d;
$pf-black-200: #ededed;
$pf-blue:  #0088ce;

/* Font Sizes */
$font-small: .5em;
$font-medium: .75em;
$font-large: 1.5em;
$font-xlarge: 2em;

large {
    font-size: $font-large;
}